@model IEnumerable<Hovedliste.Models.Sager>

@{
    ViewData["Title"] = "Index";
}

<h1>Hovedliste</h1>

<div class="navbar">
    <form asp-controller="Sagers" asp-action="Index">
        &nbsp;&nbsp
        <input type="text" placeholder="Search.." name="SearchString">&nbsp;&nbsp;
        <select name="semester">
            <option value="1">1. Semester</option>
            <option value="2">2. Semester</option>
            <option value="3">3. Semester</option>
            <option value="4">4. Semester</option>
            <option value="5">5. Semester</option>
            <option value="6">6. Semester</option>
            <option value="7">7. Semester</option>
        </select>
        &nbsp;&nbsp
        <input type="submit" value="Filter" />
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Billede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Billede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tekst)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Fag)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Semester)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
